@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
    scroll-behavior: smooth;
}
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #FEFCFE url(Assets/WhatsApp-Video-2020-12-08-at-105.gif) no-repeat center; 
    z-index: 99999;
    background-size: contain;
}
body,
button {
  font-family: "Poppins", sans-serif;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-color: #2A0001;
  background-image: linear-gradient(135deg, #2A0001 0%, #FEA501 74%);
  overflow-x: hidden;
  transform-style: preserve-3d;
}

.navbar {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 3rem;
}

.menu {
  width: 100%;
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
    width: 200px;
}

.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar {
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: #eee;
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #eee;
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.main {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}

header {
  min-height: 100vh;
  width: 100%;
  background: url("Assets/1.png") no-repeat top center / cover;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.inner {
  max-width: 25rem;
  text-align: center;
  color: #fff;
  padding: 0 2rem;
}

.title {
  font-size: 5rem;
    margin-bottom: 20px;
}
.text{
    font-weight:500;
}

.btn {
  margin-top: 1rem;
  padding: 0.6rem 1.8rem;
  background-color: #FEA501;
  border: none;
  border-radius: 50px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
    font-size: 1.5rem;
}
.About{
    text-align: center;
    width: 100%;
    height: 100%;
}
.AR1{
    width: 90%;
    margin-top: 10px;
}
.AR2{
    width: 90%;
}
.image-text{
    max-width: 17rem;
    font-size: 10px;
}
.column2 {
    float: left;
    width: 60%;
    display:inline-block;
}
.column3 {
    float: left;
    width: 33.33%;
    display:inline-block;
}
.FB{
    margin-left: 100px;
}
.images{
    width: 175%;
    margin-left: 180px;
}
.coming{
    margin-top: 50px;
    margin-left: 20px;
}
.row2:after {
  content: "";
  clear: both;
}
.Events{
    width: 100%;
    height: 100vh;
    background-color: #2b2d31;
    text-align: center;
    padding-top: 20px;
}
.Headings {
    font-size: 55px;
    font-weight: bolder;
    margin-bottom: 15px;
    color: #FEA501;
    text-shadow: -4px 1px #2A0001;
}
.facebook{
    margin-top: 50px;
}
.gif{
    width: 100%;
}
.bg {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bolder;
    color: #FEA501;
}
/* Footer Section */

.column4 {
    float: left;
    width: 25%;
    display:inline-block;
}

.row3:after {
  content: "";
  clear: both;
}

footer {
    margin-top: -10px;
    text-align: center;
    background-color: #242527;
    color: #FEA501;
    font-size: 20px;
    height: 190px;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 30px;
}

.Heading {
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 15px;
    color: #FEA501;
    text-shadow: -4px 1px #2A0001;
}

.onesec {
    padding-right: 15px;
}

.onesec1 {
    padding-top: 15px;
}

.Links a {
    text-decoration: none;
    color: #FEA501;
}

.Links a:hover {
    color: #fff;
}

.container.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.container.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.container.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.container.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(240px) scale(0.5);
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}

.links {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: #2A0001;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;
}

.links a:hover {
  color: #fff;
}

.container.active .links a {
  animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: white;
}

.shadow.one {
  z-index: -1;
  opacity: 0.15;
}

.shadow.two {
  z-index: -2;
  opacity: 0.1;
}

.container.active .shadow.one {
  animation: shadow-one 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(190px) scale(0.5);
}

@keyframes shadow-one {
  0% {
    transform: translate(0);
  }

  5% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
  }
}

.container.active .shadow.two {
  animation: shadow-two 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(80px) scale(0.5);
}

@keyframes shadow-two {
  0% {
    transform: translate(0);
  }

  20% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
  }
}

.container.active .main:hover + .shadow.one {
  transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.container.active .main:hover {
  transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}

@media only screen and (max-width: 1300px) {
    .overlay{
        background-color: rgba(43, 51, 59, 0.6);  
    }
    .FB{
        margin-left: 0;
    }
}

@media only screen and (max-width: 850px) {
    footer{
        height: 250px;
    }
    
}
@media only screen and (max-width: 768px) {
    .overlay{
        background-color: rgba(43, 51, 59, 0.8);
        justify-content:center;
    }
    .menu{
        padding-left: 0px;
    }
    footer{
        height: 600px;
    }
    .column4{
        float: inherit;
        width: 100%
    }
    .column2{
        width: 80%;
        float: inherit;
    }
    .Events{
        height: 100%;
    }
}

@media only screen and (max-width: 520px) {
    .links a{
        font-size: 1rem;
    }
    .links {
        right: -33px;
    }
    .centered{
        font-size: 25px;
    }
    .btn {
        font-size: 1rem;
    }
    .container.active .main {
        transform: perspective(1300px) rotateY(20deg) translateZ(200px) scale(0.5);
    }
    .container.active .shadow.one {
        transform: perspective(1300px) rotateY(20deg) translateZ(140px) scale(0.5);
    }
    .container.active .shadow.two {
        transform: perspective(1300px) rotateY(20deg) translateZ(70px) scale(0.5);
    }
  
}

@media only screen and (max-width: 480px) {
  .links {
        right: -14px;
    }
}


/* Footer  */

.footer-distributed{
	background: #242527;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
  height: auto;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 45px 40px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}



.footer-distributed .footer-left{
	width: 40%;
}

.footer-left-items{
   display: flex;
   align-items: center;
   justify-content: flex-start;
   color: white;
}
.footer-left-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.footer-logo{
   width: 50px;
   height: 50px;
   border-radius: 100%;
   margin-right: 20px;
}
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}



.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-copyright{
	color:  rgb(255, 255, 255);
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}



.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  rgb(255, 255, 255);
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #eaf0f5;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}
 .footer-left-items{
   justify-content: center;
 }
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
